<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login - Proyecto Fracturas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="center center-login">
      <div class="card card-login">
        <h1 class="brand">Detección de fracturas</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="alerts">
              {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <form method="post" action="{{ url_for('login') }}">
          <label for="username">Usuario</label>
          <input type="text" id="username" name="username" placeholder="User" required>

          <label for="password">Contraseña</label>
          <input type="password" id="password" name="password" placeholder="*****" required>

          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
        <div class="warn">
          <strong>Advertencia:</strong>
          <p>Este sistema solo puede identificar fracturas en imágenes diagnósticas de codo, mano y hombro. Si se sube una imagen diferente, la efectividad del modelo puede no ser la misma.</p>
        </div>

        <div class="hint">
          <strong>Credenciales de prueba</strong>
          <p>Usuario: <code>admin</code></p>
          <p>Contraseña: <code>fractura123</code></p>
        </div>
      </div>
    </div>
  </body>
</html>
